/node_modules
/node_modules2
/public/hot
/public/storage
/storage/*.key
/vendor
/account/storage/excel
/public/excel
/storage/excel/*
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
Program
/public/image/*.jpg
.env
/storage
